@font-face {
	font-family: 'daydreamerregular';
	src: url('../fonts/daydreamer-webfont.woff2') format('woff2'),
		url('../fonts/daydreamer-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'source_sans_proregular';
	src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
		url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'source_sans_prosemibold';
	src: url('../fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
		url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'source_sans_problack';
	src: url('../fonts/sourcesanspro-black-webfont.woff2') format('woff2'),
		url('../fonts/sourcesanspro-black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'source_sans_probold';
	src: url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
		url('../fonts/sourcesanspro-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body, html
	height 100%
	text-align center
	color #fff
.btn-white, h2
	font-family 'daydreamerregular'
.btn-black, h3, h1
	font-family: 'source_sans_probold';
.btn-black
	color #fff
.btn-white
	background-color: #fff;
	font-size: 2.5em;
	font-weight: 600;
	color: #3a02a7 !important;
	padding: .4em 1em;
	border-radius: 37px;
	display: inline-block
	transition-duration: 0.2s
	text-decoration none !important
.btn-black
	padding: .4em 1.5em;
	border-radius: 37px;
	font-size: 1.8em
	outline none
	background-color: #313131
	cursor pointer
	transition-duration 0.3s
	display inline-block
.btn-black:hover
	background-color: #5b1cff
	color #fff !important
.btn-white:hover
	background-color: #313131
	color #fff !important
img
	max-width 100%
h1
	font-size 1.55em
	line-height: 1.35em
	margin-bottom 1em
header, aside
	position fixed
.container
	position: relative;
	max-width 1024px
	margin 0 auto
	padding-top: 5.5em
a:hover, a
	text-decoration none
aside
	position fixed
	z-index 9999
	width 50px
	top: 40%;
	left: 1em;
	a 
		display block
		width 25px
		height 25px 
		background-color: #FFF
		color #5b1cff
		border-radius 50%
		line-height 1.7em
		margin-bottom .5em
	a.blue
		background-color: #00f6ff
		color #fff
.parsley-errors-list
	display none
input.parsley-error, .parsley-error
	background-color rgba(255, 0, 0, 0.2) !important
	
header
	width 100%
	top 0
	z-index 999
	background-color: rgba(0, 0, 0, .1)
	padding .8em 0
	.container
		transform initial
		top 0
		padding 0
	.logo
		float left
	nav
		float right
		font-family 'Lato', sans-serif
		margin .8em 0 0
		ul 
			padding 0
			margin 0
			list-style: none
		li, a
			display inline-block
		li 
			margin 0 0 0 1.5em
		a 
			color #fff
			text-transform: uppercase;
			display inline-block
			padding .5em .7em
	nav.color-black
		a 
			color #313131
.section
	background-image: url('../img/back.png')
	background-repeat: no-repeat
	background-size: cover
	background-position: 50% 50%
.home
	font-size 1em
	h3
		font-size 1.7em
.mecanica
	font-size .95em
	article
		display inline-block
		width 30%
		vertical-align top
	h2 
		font-size 2.5em
		font-weight 100
	h3
		font-size 1.6em
		margin-bottom 1.7em
	p, h4
		font-family: 'source_sans_proregular';
		font-size 1.1em
		line-height 1.5em
	a 
		color #fff
		text-decoration underline
.hidden
	display none !important
#terminos
	color: #5b1cff
	padding 1em
	text-align left
	h3
		text-align center
		font-size 1.7em
		
	h4, h3
		font-family: 'source_sans_problack';
	h4
		margin 0 0 1em
	p 
		font-family: 'source_sans_proregular';
		margin 0 0 .3em
	strong
		font-family: 'source_sans_probold';
		margin-top .8em
		display inline-block
.register
	background #fff
	h2
		color #5b1cff
		font-size 3em
		margin 0 0 .5em
	form 
		max-width 480px
		display inline-block
		label
			color #313131
			font-size 1.5em
			margin .5em 0 .5em
			font-family: 'source_sans_prosemibold';
			display block
			text-align left
		input, button
			border 0
		input
			background-color: #ececec
			border-radius 5px
			margin-bottom 1em
			font-family: 'source_sans_proregular';
			display inline-block
			width 99%
			text-indent: 4%
			padding .8em 0
			outline none
			transition-duration 0.3s
		input.col-2
			width 48%
			text-indent: 8%
		input.one
			margin-right 1%
		input.two
			margin-left 1%
		p 
			color #5b1cff 
			font-size .9em
			font-family: 'source_sans_prosemibold';
			text-align left
			a 
				font-family: 'source_sans_problack';
				text-decoration underline
		#chk
			margin 0
			font-size .82em
			font-family: 'source_sans_problack';
			vertical-align top
			cursor pointer
			a 
				color #313131
			input 
				display inline-block
				width initial
				margin 0 .3em 0 0
				vertical-align top
		.btn-send 
			margin  1em 0 0
	.after
		h2
			color #313131
		p 
			color #313131
			font-family: 'source_sans_prosemibold';
			font-size 2em
#form
	position relative		
#form.loading:after
	content ""
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	background: url("../img/loading.gif") no-repeat 50% 50% rgba(255,255,255,0.5);
	z-index: 999;
	display: block;
.premio
	article
		background-color: rgba(0, 0, 0, .1)
		margin 10em 0 6em
		padding 3em 0
		border-radius 7em
	h2 
		font-size 3.5em
		font-weight 100
	.btn-white 
		margin 0 .3em
	.box 
		display inline-block 
		width 30%
		vertical-align top
		position relative
		font-size 1.7em
		h3 
			font-family: 'source_sans_prosemibold';
			margin 0 0 .5em
		a 
			font-family: 'source_sans_probold';
			color #fff
			font-size .7em
			display inline-block
			border-bottom 3px solid #fff
			padding 0 0 .3em
		img 
			position absolute
			left: 50%;
			top: -5em;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			max-width: 85%;
.historia
	background #fff
	color #313131
	h2
		color #313131
		font-size 3.5em
		margin-bottom .5em
	.btn-black
		font-size 1.7em
	li.first, li.last
		display none !important
	#content
		border 1px solid #000
		max-width 680px
		margin 0 auto 1em
		display block
		.box 
			width 30%
			display inline-block
			margin 5px
			height 100px
			background-color: #e6e6e6
			vertical-align top
	#pagination
		list-style none 
		padding 0
		margin 0 0 2.5em
		li 
			display inline-block
			vertical-align top
		a 
			font-family: 'source_sans_probold';
			color #313131
			padding .4em
		li.next 
			padding-left 1em
		li.prev 
			padding-right 1em
		li.active a
			color #00f6ff
.fancybox-overlay	 
	background: rgba(255,255,255,0.8) !important;
.fancybox-opened .fancybox-title
	font-size 2em
	span
		background-color: #3728f5;
		padding: .2em 1.5em .4em;
		border-radius: 39px;
		font-size: .8em;
		line-height: 0.7em;
		a
			color #fff
			small
				font-size .5em
.fancybox-title-float-wrap
	bottom: -1em !important;
.winner
	h2
		font-size 3.5em
		margin-bottom 0
	p 
		font-family: 'source_sans_prosemibold';
		font-size 1.3em
.easy-embed
	max-width 680px
	margin 0 auto
	position relative
.overlay-play
	position absolute
	z-index 999
	top 52%
	left: 50%;
	
	width 64px 
	height 75px
	margin-left -32px
	margin-top -37.5px
	font-size: 4em;
	color: #000;
	i 
		cursor pointer
	i:hover
		color red
	i:after
		content ""
		width 50px
		height 32px
		position absolute
		left 50%
		top 50%
		margin-left -25px
		margin-top -16px
		background #fff
	i:before
		z-index 999 
		position relative
.logo img
	display none
	position absolute
	max-width: 150px;
.logo img.active
	display block
#section6
	display block
	.fp-tableCell
		display block
.winner footer
	position absolute
	background url('../img/footer.png') no-repeat 0 0;
	width 100%
	bottom 0
	background-size: cover
	h3
		font-family: 'source_sans_proregular';
		font-size 2em
		font-weight 100
		margin-bottom 0
	h4 
		font-weight 100
		span 
			margin 0 1em
	h5,p
		font-weight 100
		font-size .8em


#msg
	color: #f00;
	font-size: .8em;
	text-align: left;
	display: block;		
.historia #content{
	border:0;
}
.historia #content .box{
	position: relative;
	margin-bottom: .5em;
	height: auto;
}
.historia #content .box:after{
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index:99;
	position: absolute;
}
.historia #content .easy-embed{
	z-index: 9;
}
.winner footer{
	line-height: .6em;
	font-size: .9em;
	padding-top: 2em;
}
img.logo-footer{
	max-width: 150px;
}
.overlay-play i{
	font-size: .85em;
	opacity: 0;
}
.overlay-play{
	background: url("../img/icon-yt.png") no-repeat 50% 50%;
}
.home .overlay-play
	background-size: 50px
#nav-icon3{
	width: 30px;
	height: 24px;
	
	position: relative;
	margin: 0 1em 0 0
	float right
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#nav-icon3 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #fff;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}


/* Icon 3 */

#nav-icon3 span:nth-child(1) {
	top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
	top: 9px;
}

#nav-icon3 span:nth-child(4) {
	top: 18px;
}

#nav-icon3.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#nav-icon3.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	}

#nav-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}
#nav-icon3{
	display:none;
}
.slick-dots
	padding 0 
	margin 0
	li 
		display inline-block
		button
			border 0
			background-color: transparent
			font-size 0
			width 15px 
			height 15px 
			background-color: rgba(8, 8, 8, 0.52)
			margin 2px  5px
			border-radius 50%
			outline none
	li.slick-active
		button 
			background-color #fff
			
@media (max-width: 1024px) 
	
	.premio .box img
		width 80%
	.overlay-play i
		font-size 1.2em
	.easy-embed
		max-width 520px

@media (min-width: 320px)
	#fullpage
		font-size 1.5em
	.overlay-play i
		font-size .7em
	.overlay-play i:after
		top 85%
	.register form
		max-width 90%
	.premio .box
		font-size 1.2em
	.premio article
		margin: 6em 0 6em
	.container
		padding-top: 2.5em;
	#section6 .fp-tableCell
		display table-cell
	#section6
		display table
		.container
			padding-top 0
			margin-bottom: 10em;
			h2
				margin 0
	.easy-embed
		max-width: 80%
	header
		font-size 1.2em
		.logo
			width 100%
			img 
				margin 1em auto .5em
		nav 
			width 100%
			ul li 
				margin 0 .5em
				a 
					padding 1.5em .8em
					font-size 1.1em
@media (min-width: 992px) 
	#fullpage
		font-size .7em
	.register form
		max-width 480px
	.premio .box
		font-size 1.7em
	.premio article
		margin: 10em 0 6em
	.container
		padding-top: 5.5em;
	#section6 .fp-tableCell
		display block
	#section6
		display block
		.container
			padding-top: 9.5em;
			margin: 0 auto;
	header
		font-size .8em
		.logo 
			width auto
		nav
			margin-right 1.5em
			margin-top 1.2em
			width auto
	.easy-embed
		max-width 580px
	.overlay-play i
		font-size: 1.2em;
	.overlay-play i:after
		top 34%
	.overlay-play
		top: 52%;
@media (min-width: 1024px) 
	.overlay-play i
		font-size 1.2em
	.easy-embed
		max-width 480px
@media (min-width: 1280px) 
	.overlay-play i:after
		top 35%
@media (min-width: 1366px) 
	#fullpage
		font-size 1em
	.easy-embed
		max-width 580px
	.overlay-play i:after
		top 50%
@media (min-width: 992px) and (max-height: 768px )
	#fullpage
		font-size .75em

@media (max-width: 768px)		
	#fullpage
		font-size .8em
		overflow-x hidden
	header .logo img
		max-width 100px
		margin: 10px;
	#nav-icon3
		display block
	header nav
		margin-top .5em
	header nav ul 
		display none
		font-size: .7em;
		position: absolute;
		right: 0;
		top 3.5em
		background-color: rgba(75, 10, 193, 0.73);
		li 
			display block
			text-align right
			a 
				padding .7em
				display block
	.color-black #nav-icon3 span
		background: #5a5a5a;
	.color-black #menu
		background-color: rgba(234, 234, 234, 0.73)
	.mecanica 
		article 
			img 
				max-width 200px
	#terminos
		font-size .75em
@media (max-width: 680px)
	header .logo img
		max-width: 70px;
		margin: 0 10px 10px;
	#fullpage
		font-size .7em
	.premio .btn-white
		font-size 1.8em
	.mecanica h3
		margin: .5em 5%;
		margin-bottom: .5em;
@media (max-width: 480px)		
	#fullpage
		font-size .7em
	header .logo img
		max-width 80px
		margin: 0 15px 15px ;
	aside
		top initial
		bottom .5em
		width 80px
		text-align left
		a 
			display inline-block
			margin-right: .5em;
			text-align center
	.premio .btn-white
		font-size 1.8em
	.premio h2
		margin: 0 0 .5em;
	.premio article
		margin 0
		font-size: 1.2em;
		padding 0
		background transparent
		.box 
			width 100%
			text-align center
			margin-bottom: 1.5em;
			img 
				position: relative;
				max-width: 100px;
				left: 0;
				top: 0;
				margin: 0 auto;
				display: inline-block;
				transform initial
		.box:last-child
			margin-bottom .5em
	.mecanica h2 
		margin 0 0 .5em
		font-size 3em
	.mecanica
		h4, p 
			font-size 1.1em
		h4
			margin 0 0 .5em
	#terminos
		font-size .6em
	.register form #chk a
		font-size 1.3em
		line-height	1.3em
	aside
		display none
	.mecanica article img
		max-width: 150px
	
	
@media (max-width: 375px)	
	header .logo img
		max-width 60px
	.container
		padding-top: 3em;
	.btn-white
		font-size 1.8em